@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  margin: 0;
  width: 100%;
}

body {
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  width: 100vw; /* Full width */
  height: 100vh; /* Full height */
  overflow: hidden; /* Prevent scrolling */
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("http://localhost:3000/bgo.webp");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  /* backdrop-filter: blur(10px); */
}
/* WebKit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #000;
  border-radius: 10px;
  border: 3px solid #f1f1f1;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* Firefox */
html {
  scrollbar-width: thin;
  scrollbar-color: black #f1f1f1;
}

/* #root{
    height: 100%;
} */
